#taigachat_message {
    background: #202020;
}

#taigachat_message:focus {
    background: #202020;
    border-color: #404040;
}

#taigachat_toolbar .shoutboxHandle {
    background: no-repeat center;
    width: 19px;
    height: 21px;
    display: block;
    cursor: s-resize;
}

#colorpicker #picker_panel legend {
    color: #fff;
}

.steamBadge {
    border-radius: 4px;
    background: #2e2e2e;
    font-size: 13px;
    overflow: hidden;

    text-align: left !important;
    /*margin: 8px -5px -2px !important;*/

    margin: 8px -16px -10px !important;
    border: 4px solid rgb(32, 32, 32);
}

.steamBadge-top {
    background: #2b2a2a;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.12) 12%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    transition: background 500ms;
}

.steamBadge-top:hover {
    background: #373737;
}

.steamBadge-top:hover img {
    opacity: 1;
}

.steamBadge-top a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.steamBadge-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 7px;
}

.steamBadge-left {
    flex: 0 0 29px;
    align-self: self-start;
}

.steamBadge-right {
    flex: 1;
    padding-left: 5px;
    overflow: hidden;
}

.steamBadge-avatar {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
}

.steamBadge-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.steamBadge-name a:link,
.steamBadge-name a:visited {
    color: #eee !important;
}

.steamBadge-name a:hover {
    color: #fff !important;
    text-decoration: none !important;
}

.steamBadge-activity {
    font-size: 11px;
    white-space: nowrap;
}

.steamBadge-logo {
    width: 11px;
    display: block;
    margin: 0 auto;
    padding: 3px 0;
    opacity: 0.75;
}

.steamBadge-supplementary {
    font-size: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 7px 4px;
    margin-top: -5px;
}

.steamState-0 {
    color: #898989;
}

.steamState-1 {
    color: #57cbde;
}

.steamState-2 {
    color: #57cbde;
}

.steamState-3 {
    color: #57cbde;
}

.steamState-4 {
    color: #57cbde;
}

.steamState-5 {
    color: #57cbde;
}

.steamState-6 {
    color: #57cbde;
}

.steamState-9999 {
    color: #90ba3c;
}
