#taigachat_message {
	background: #202020;
}

#taigachat_message:focus {
	background: #202020;
	border-color: #404040;
}

#taigachat_toolbar .shoutboxHandle {
	background: no-repeat center;
	width: 19px;
	height: 21px;
	display: block;
	cursor: s-resize;
}

.steamProfileWrapper {
	margin: 8px -5px -2px !important;
}

.steamBadge {
	border-radius: 4px;
	background: #2e2e2e;
	font-size: 13px;
	overflow: hidden;
	line-height: normal;
	max-width: 160px;
	transition: all 500ms;
	
	text-align: left !important; /** Leave it here **/
}
	
.steamBadge-top {
	background: #2b2a2a;
	text-align: center;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.12) 12%, rgba(0, 0, 0, 0) 100%);
	position: relative;
	transition: background 500ms;
}	
	.steamBadge-top:hover {
		background: #373737;
	}
	.steamBadge-top:hover img {
		opacity: 1;
	}
	
	.steamBadge-top a {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

.steamBadge-content {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 5px 7px;
}

.steamBadge-left {
	flex: 0 0 29px;
	align-self: self-start;
}
	
.steamBadge-right {
	flex: 1;
	padding-left: 5px;
	word-break: break-word;
	overflow: hidden;
}

.steamBadge-avatar {
	display: block;
	max-width: 100%;
	max-height: 100%;		
	border-radius: 3px;
}

.steamBadge-name a:link,
.steamBadge-name a:visited {
	color: #eee !important;
}
	.steamBadge-name a:hover {
		color: #fff !important;
		text-decoration: none !important;
	}

.steamBadge-activity {
	font-size: 11px;
	color: #939393;
	white-space: nowrap;
}

.steamBadge-logo {
	width: 11px;
	display: block;
	margin: 0 auto;
	padding: 3px 0;
	opacity: 0.75;
}